<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Webis.de/Thesis-Sharma</title>
    <link rel="icon" type="image/png" href="https://assets.webis.de/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <h1>
        <img src="https://assets.webis.de/img/favicon.png" alt="Webis.de Logo">
        <span class="h1-text">WEBIS:DE</span> Statistics Retrieval of Arguments
    </h1>
    <div id="button-container">
        <button id="getTopics">Touche</button>
        <button id="getManualTopics">Manual</button>
        <button id="searchRandomContext">Random</button>
        <div id="query-container">
            <select id="topicDropdown"></select>
            <input type="text" id="inputField" placeholder="Type your Question..." style="display:none;">
        </div>
        <button id="search">Search Documents</button>
        <button id="evaluateButton">Evaluate Models</button>
        <button id="generateAnswers">Generate Answers</button>
        <button id="annotateButton">Annotate Randomly</button> <!-- New button -->
    </div>
    <div id="results-container">
        <div class="results-panel">
            <h2>BM25</h2>
            <div id="model1-results"></div> <!-- Placeholder for dynamic content -->
        </div>
        <div class="results-panel">
            <h2>Mistral</h2>
            <div id="model2-results"></div> <!-- Placeholder for dynamic content -->
        </div>
        <div class="results-panel">
            <h2>GTE-QWEN2</h2>
            <div id="model3-results"></div> <!-- Placeholder for dynamic content -->
        </div>
        <div class="results-panel">
            <h2>CLIP</h2>
            <div id="model4-results"></div> <!-- Placeholder for dynamic content -->
        </div>
    </div>
    <div class="llm-answer-info-container hidden">
        <div class="llm-answer">
            <h3>Final Answer</h3>
            <div class="llm-answer-content"></div>
        </div>
        <div class="llm-info">
            <h3>Additional Info</h3>
            <div class="llm-info-content compact-info">
                <p><strong>Relevance: Does the response accurately address the topic?</strong></p>
                <ul>
                    <li><strong>0:</strong> Not Relevant - The response seems to be completely random to the topic.</li>
                    <li><strong>1:</strong> Partially Relevant - The response is partially off-topic; may be vaguely related, but too divergent from the topic.</li>
                    <li><strong>2:</strong> Relevant - Response answers the topic, though it might lack full detail or depth.</li>
                    <li><strong>3:</strong> Highly Relevant - The response fully and clearly answers the topic with detailed information.</li>
                </ul>
                <p><strong>Completeness: Does the response provide a thorough and comprehensive answer to the topic?</strong></p>
                <ul>
                    <li><strong>0:</strong> No - The response does not address the topic or is completely unrelated.</li>
                    <li><strong>1:</strong> Somewhat - The response addresses the query but misses significant details or only covers part of the topic.</li>
                    <li><strong>2:</strong> Mostly - The response covers most aspects of the topic but may miss minor details.</li>
                    <li><strong>3:</strong> Yes - The response fully and thoroughly addresses the topic, leaving no aspect untouched.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="centered-message" class="centered-message hidden">Alert: Please complete all the annotations to evaluate the models.</div>
    <footer>
        <p>Supervised by: Dr. Johannes Kiesel</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/script1.js"></script>
</body>

</html>
