<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Webis.de/Thesis-Sharma</title>
    <link rel="icon" type="image/png" href="https://assets.webis.de/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <h1>
        <img src="https://assets.webis.de/img/favicon.png" alt="Webis.de Logo">
        <span class="h1-text">WEBIS:DE</span> Statistics Retrieval of Arguments
    </h1>
    <div id="button-container">
        <button id="getTopics">Touche</button>
        <button id="getManualTopics">Manual</button>
        <button id="searchRandomContext">Random</button>
        <button id="questionButton">Question</button>
        <div id="query-container">
            <select id="topicDropdown"></select>
            <input type="text" id="inputField" placeholder="Type your Question..." style="display:none;">
        </div>
        <button id="search">Search Documents</button>
        <button id="evaluateButton">Evaluate Models</button>
        <button id="generateAnswers">Generate Answers</button>
    </div>
    <div id="results-container">
        <div class="results-panel">
            <h2>BM25</h2>
            <div id="model1-results"></div> <!-- Placeholder for dynamic content -->
        </div>
        <div class="results-panel">
            <h2>Mistral</h2>
            <div id="model2-results"></div> <!-- Placeholder for dynamic content -->
        </div>
        <div class="results-panel">
            <h2>GTE-QWEN2</h2>
            <div id="model3-results"></div> <!-- Placeholder for dynamic content -->
        </div>
        <div class="results-panel">
            <h2>CLIP</h2>
            <div id="model4-results"></div> <!-- Placeholder for dynamic content -->
        </div>
    </div>
    <div class="llm-answer-info-container hidden">
        <div class="llm-answer">
            <h3>Final Answer</h3>
            <div class="llm-answer-content"></div>
        </div>
        <div class="llm-info">
            <h3>Additional Info</h3>
            <div class="llm-info-content">Static content goes here...</div>
        </div>
    </div>
    <div id="centered-message" class="centered-message hidden">Alert: Please complete all the annotations to evaluate the models.</div>
    <footer>
        <p>Supervised by: Dr. Johannes Kiesel</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/script1.js"></script>
</body>

</html>
