<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Webis.de/Thesis-Sharma</title>
    <link rel="icon" type="image/png" href="https://assets.webis.de/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <h1>
        <img src="https://assets.webis.de/img/favicon.png" alt="Webis.de Logo">
        <span class="h1-text">WEBIS:DE</span> Statistics Retrieval of Arguments
    </h1>
    <div id="button-container">
        <button id="getTopics">Touche</button>
        <button id="getManualTopics">Manual</button>
        <button id="searchRandomContext">Random</button>
        <div id="query-container">
            <select id="topicDropdown"></select>
            <input type="text" id="inputField" placeholder="Type your Question..." style="display:none;">
        </div>
        <button id="search">Search Documents</button>
        <button id="evaluateButton">Evaluate Models</button>
        <button id="generateAnswers">Generate Answers</button>
        <button id="save">Save</button>

    </div>
    <div id="results-container">
        <div class="results-panel">
            <h2>Model-1</h2>
            <div id="model1-results"></div> 
        </div>
        <div class="results-panel">
            <h2>Model-2</h2>
            <div id="model2-results"></div> 
        </div>
        <div class="results-panel">
            <h2>Model-3</h2>
            <div id="model3-results"></div> 
        </div>
        <div class="results-panel">
            <h2>Model-4</h2>
            <div id="model4-results"></div>
        </div>
        <div class="results-panel">
            <h2>Model-5</h2>
            <div id="model5-results"></div>
        </div>
        <div class="results-panel">
            <h2>Model-6</h2>
            <div id="model6-results"></div>
        </div>
    </div>
    <hr> <!-- Add horizontal line after results-container -->
    <div id="top-documents-title-container">
        <h2 id="top-documents-title">Top Charts with Title and Content:</h2>
    </div>
    <div id="top-documents-container"></div>
    <div class="llm-answer-info-container hidden">
        <div class="llm-answer1">
            <h3>
                Final Answer 1
                <div class="annotation-dropdowns">
                    <select class="relevance-dropdown">
                        <option value="" disabled selected>Relevance</option>
                        <option value="0">0 (No)</option>
                        <option value="1">1 (Partially Relevant)</option>
                        <option value="2">2 (Relevant)</option>
                        <option value="3">3 (Highly Relevant)</option>
                    </select>
                    <select class="faithfulness-dropdown">
                        <option value="" disabled selected>Faithfulness</option>
                        <option value="0">0 (No)</option>
                        <option value="1">1 (Somewhat)</option>
                        <option value="2">2 (Mostly)</option>
                        <option value="3">3 (Yes)</option>
                    </select>
                </div>
            </h3>
            <div class="llm-answer-content1"></div>
        </div>
        <div class="llm-answer2">
            <h3>
                Final Answer 2
                <div class="annotation-dropdowns">
                    <select id="relevance1" class="relevance-dropdown">
                        <option value="" disabled selected>Relevance</option>
                        <option value="0">0 (No)</option>
                        <option value="1">1 (Partially Relevant)</option>
                        <option value="2">2 (Relevant)</option>
                        <option value="3">3 (Highly Relevant)</option>
                    </select>
    
                    <select id="faithfulness1" class="faithfulness-dropdown">
                        <option value="" disabled selected>Faithfulness</option>
                        <option value="0">0 (No)</option>
                        <option value="1">1 (Somewhat)</option>
                        <option value="2">2 (Mostly)</option>
                        <option value="3">3 (Yes)</option>
                    </select>
                </div>
            </h3>
            <div class="llm-answer-content2">
            </div>
        </div>
    </div>
    <div id="loadingModal" class="modal-overlay hidden">
        <div class="modal-content">
            <p>Loading annotations. Please complete them and save.</p>
        </div>
    </div>
    <footer>
        <p>Supervised by: Dr. Johannes Kiesel</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <div id="centered-message" class="centered-message">Please complete all annotations before saving.</div>
    <script src="/static/script1.js"></script>
</body>

</html>
